
<div class="main-footer">
    <footer class="footer">

      <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
      </div>
      
      <ul class="menu">
        <li class="menu__item"><a class="menu__link" routerLink="/seller-auth">Seller</a></li>
        <li class="menu__item"><a class="menu__link" routerLink="/" >Home</a></li>
        <li class="menu__item"><a class="menu__link" routerLink="/myorder">My Order</a></li>
        <li class="menu__item"><a class="menu__link" routerLink="/cart-page" >Cart</a></li>
      </ul>
      <p>&copy;2023 | All Rights Reserved |Created by Sakhawat Abbasi</p>
    </footer>
  </div>