<div class="seller">
    <div *ngIf="!showLogin" class="signup">
        <h1 class="ttp ">Seller Sign-Up</h1>
        <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
            <input class="form-input" type="text" name="name" placeholder="Enter Name" ngModel #name="ngModel"
                required />
            <p class="invalid-input">
                <span *ngIf="name.invalid && name.touched">Pelase Enter Name</span>
            </p>
            <input class="form-input" type="email" name="Email" placeholder="Enter Email" ngModel email=""
                #email="ngModel" required />
            <p class="invalid-input">
                <span *ngIf="email.invalid && email.touched">Pelase Enter Email</span>
            </p>
            <input class="form-input" type="password" name="password" placeholder="Enter Password" ngModel password
                #password="ngModel" required />
            <p class="invalid-input">
                <span *ngIf="password.invalid && password.touched">Pelase Enter Password</span>
            </p>
            <button [disabled]="sellerSignUp.invalid" class="form-button">
                Sign-Up
            </button>
            <!-- <a class="auth-toggle-link" (click)="openLogin()"><span>Already Have Account?</span>  Click to Login</a> -->
            <span>Already Have Account?<a class="auth-toggle-link" (click)="openLogin()">
                    Click to Login
                </a></span>
        </form>
    </div>

    <!-- login form -->
    <div *ngIf="showLogin" class="login">
        <h1 class="ttp">Seller Login</h1>
        <p class="error">{{ authError }}</p>
        <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)" class="common-form">
            <input class="form-input" type="text" name="Email" placeholder="Enter Email" ngModel email #email="ngModel"
                required />
            <p class="invalid-input">
                <span *ngIf="email.invalid && email.touched">Pelase Enter Email</span>
            </p>

            <input class="form-input" type="password" ngModel name="password" placeholder="Enter Password" password
                #password="ngModel" required />
            <p class="invalid-input">
                <span *ngIf="password.invalid && password.touched">Pelase Enter password</span>
            </p>
            <button [disabled]="sellerLogin.invalid" class="form-button">
                Login
            </button>
            <span>Don't Have Account?
                <a class="auth-toggle-link" (click)="openSignUp()">
                    Click to Sign-Up
                </a></span>
        </form>
    </div>
</div>

<app-footer></app-footer>