<div class="popularProducts" >
<ngb-carousel *ngIf="popularProducts" 	[interval]="2000">
    <ng-template  *ngFor="let item of popularProducts" ngbSlide>
      <div class="picsum-img-wrapper">
          
        <img  class="product-header-image" src="{{item.image}}" alt="Random first slide">
     
        </div>
      <div class="carousel-caption">
        <p><b>Name: </b>  {{item.name}}</p>
        <p><b>Description: </b>  {{item.description}}</p>
        <a routerLink="/details/{{item.id}}"> <button class="form-button1"> View Details</button></a>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<div class="product-list-wrapper">
<h1>Trendy Products</h1>
<div class="row">
  <div class="col-sm-3" *ngFor="let item of trendyProducts">
    <div class="product-item">
      <img src="{{item.image}}" alt="">
    <div class="product-details">
      <h6 class="name-head">{{item.name}}</h6>
      <div class="product-price">
        <h6>Price:{{item.price}}</h6>
      </div>
      <div class="product-color">
        <h6>Color:{{item.color}}</h6>
      </div>
    </div>
    <div class="product-footer">
      <a routerLink="/details/{{item.id}}">View Details</a>
      <a routerLink="/details/{{item.id}}" href="">Add to Cart</a>

    </div>
    </div>
  </div>
</div>
</div>

<app-footer></app-footer>
  
  