<div class="my-order">
    <h1>My orders</h1>
  <div class="row theadfom">
    <div class="col-sm-2">
      <span>Order</span>
    </div>
    <div class="col-sm-2">
      <span>Order Id</span>
    </div>
    <div class="col-sm-2">
      <span>Price</span>
    </div>
    <div class="col-sm-2">
        <span>Status</span>
      </div>
      <div class="col-sm-2">
        <span>Action</span>
      </div>
  </div>

  <div class="row order-data" *ngFor="let order of orderData">
    <div class="col-sm-2">
     <img class="order-img" src="https://img.freepik.com/free-vector/shopping-cart-realistic_1284-6011.jpg?w=2000" alt="">
    </div>
    <div class="col-sm-2">
      <span>#{{order.id}}</span>
    </div>
    <div class="col-sm-2">
      <span>{{order.totalPrice}}</span>
    </div>
    <div class="col-sm-2">
        <span>In-progress</span>
      </div>
      <div class="col-sm-2">
        <span><button (click)="cancelOrder(order.id)" class="form-button">Cencel order</button></span>
      </div>
  </div>
 
  

</div>


<app-footer></app-footer>